
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, You got an invitation to join our App from <%= @invitation.invited_by.email %>!</p>
    <br>
    <p>Sign up using <a href="http://localhost:3000/signup">link</a></p>
  </body>
</html>